<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>919106675857-mjulbhriv9shee0u7n9c8ibnqlro7p5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919106675857-mjulbhriv9shee0u7n9c8ibnqlro7p5p</string>
	<key>API_KEY</key>
	<string>AIzaSyDrbpoybluQ9Udr3K9MrcjsJWmD38TMyGA</string>
	<key>GCM_SENDER_ID</key>
	<string>919106675857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aroundme.AlMurray</string>
	<key>PROJECT_ID</key>
	<string>al-murray</string>
	<key>STORAGE_BUCKET</key>
	<string>al-murray.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919106675857:ios:d50af805e9db8508</string>
	<key>DATABASE_URL</key>
	<string>https://al-murray.firebaseio.com</string>
</dict>
</plist>